.P {
    background-color: green;
}

.A {
    background-color: red;
}

.L  {
    background-color: yellow;
}

.tablePagination ::ng-deep .ngx-pagination .current {
    background-color: #4154f1 !important;
  }
 