.P {
    background-color: green;
}

.A {
    background-color: red;
}

.L  {
    background-color: yellow;
}

.tablePagination ::ng-deep .ngx-pagination .current {
    background-color: #4154f1 !important;
  }
.tablePagination ::ng-deep .ngx-pagination {
    padding-left: 0rem !important;
}
.checkData{
    
    padding: 0px 10px;
    color: black;
    font-size: 19px;
    text-align: center;
}
.bg-color-table{
    --bs-table-accent-bg:white !important;
    border-bottom-width: 0px !important;
}
.check-left{
    padding-left: 100px;
}
.cardBodyFix{
    height: 355px;
}
.colorOFIcon{
    color: #4154f1;
}