<!-- <main id="main" class="main">
    <div class="pagetitle">
       <h1>Dashboard</h1>
       <nav>
          <ol class="breadcrumb">
             <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
             <li class="breadcrumb-item active">Dashboard</li>
          </ol>
       </nav>
    </div>
   
    <section class="section dashboard" *ngIf="user_role=='admin'">
       <div class="row">
          <div class="col-lg-12">
             <div class="row">
                <div class="col-xxl-4 col-md-4">
                   <div class="card info-card sales-card">
                      
                      <div class="card-body">
                         <h5 class="card-title">Total Employee</h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                            <div class="ps-3">
                               <h6>{{dashboard_data.countView.totalEmployee}}</h6>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                   <div class="card info-card revenue-card">
                      
                      <div class="card-body">
                         <h5 class="card-title">Late</h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="fab fa-clock"></i></div>
                            <div class="ps-3">
                               <h6>{{dashboard_data.countView.totalLate}}</h6>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-xxl-4 col-md-4">
                   <div class="card info-card revenue-card">
                      
                      <div class="card-body">
                         <h5 class="card-title">Leave</h5>
                         <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-app-indicator"></i></div>
                            <div class="ps-3">
                               <h6>{{dashboard_data.countView.totalLeave}}</h6>
                               
                            </div>
                         </div>
                      </div>
                   </div>
                </div>


                <section class="section">
                  <div class="row">
                     <div class="col-lg-6">
                        <div class="card" style="height: 370px;">
                           <div class="card-body">
                              <h5 class="card-title pb-0">Attendance percentage</h5>
                              <canvas id="piechart" style="margin: auto;max-width:300px ;margin: auto;height: 240px !important;"></canvas>
                             
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6">
                        <div class="card" style="height: 370px;">
                           <div class="card-body">
                              <h5 class="card-title">Attendance percentage</h5>
                               <canvas id="lineChart" style="max-height: 300px;max-width:300px ;margin: auto;height: 240px !important;"></canvas>
                              
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6" style="display: none;">
                        <div class="card">
                           <div class="card-body">
                              <h5 class="card-title">Bar CHart</h5>
                              
                           </div>
                        </div>
                     </div>
                     
                  </div>
               </section>

               
                
                <div class="col-12">
                   <div class="card recent-sales overflow-auto">
                      <div class="filter">
                         <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                         <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <li class="dropdown-header text-start">
                               <h6>Filter</h6>
                            </li>
                            <li><a class="dropdown-item" href="#">Today</a></li>
                            <li><a class="dropdown-item" href="#">This Month</a></li>
                            <li><a class="dropdown-item" href="#">This Year</a></li>
                         </ul>
                      </div>
                      <div class="card-body">
                         <h5 class="card-title">Recent Attendance <span>| Today</span></h5>
                           <table class="table table-striped">
                              <thead style="background-color:   #4154f1;">
                                 <tr style="color: white;">
                                  <th scope="col">#</th>
                                  <th scope="col">Employee</th>
                                  <th scope="col">In-Time</th>
                                  <th scope="col">Out-Time</th>
                                  <th scope="col">Status</th>
                               </tr>
                            </thead>
                            <tbody *ngIf="dashboard_data.attendanceDetail.length==0" class="w-100">
                              <tr>
                                 <td class="bg-color-table"></td>
                                 <td class="bg-color-table"></td>
                                 <td scope="row" class="checkData bg-color-table"><a>No Data</a></td>
                              </tr>
                            </tbody>
                            <tbody *ngIf="dashboard_data.attendanceDetail.length > 0">
                              <tr *ngFor="let item of dashboard_data.attendanceDetail | paginate: { itemsPerPage: 5, currentPage: page }">
                                 <th scope="row"><a href="#">{{item.refID}}</a></th>
                                 <td>{{item.name}}</td>
                                 attendanceDetail
                                 <td><a href="#" class="text-primary">{{item.outTime}}</a></td>
                                 <td><span class="badge {{item.status}}">{{item.status}}</span></td>
                              </tr>
                               <!-- 
                               <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                               <!-- <tr *ngFor="let item of attendance_list | paginate: { itemsPerPage: 5, currentPage: page }">
                                 <th scope="row"><a href="#">{{item.id}}</a></th>
                                 <td>{{item.name}}</td>
                                 <td><a href="#" class="text-primary">{{item.intime}}</a></td>
                                 <td><a href="#" class="text-primary">{{item.outtime}}</a></td>
                                 <td><span class="badge {{item.status_color}}">{{item.status}}</span></td>
                              
                              
                            </tbody>
                         </table>
                         <div class="col-sm-7  col-md-7 col-lg-7 col-xl-7 col-10 col-xxl-6  " *ngIf="dashboard_data.attendanceDetail.length > 0" >
                           <pagination-controls (pageChange)="page = $event" class="tablePagination"></pagination-controls>
                        </div>
                      </div>
                   </div>
                </div>
                
             </div>
          </div>
          
       </div>
    </section>

    <section class="section dashboard" *ngIf="user_role=='emp'">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-3 col-md-3">
                  <div class="card info-card sales-card">
                    
                     <div class="card-body">
                        <h5 class="card-title">Days Present</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-people"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data.countView.totalPresent}}</h6>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-md-3">
                  <div class="card info-card sales-card">
                    
                     <div class="card-body">
                        <h5 class="card-title">Absent</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-app-indicator"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data.countView.totalAbsent}}</h6>
                             
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-md-3">
                  <div class="card info-card sales-card">
                     
                     <div class="card-body">
                        <h5 class="card-title">Leave</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-calendar-x"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data.countView.totalLeave}}</h6>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-3 col-md-3">
                  <div class="card info-card sales-card">
                     
                     <div class="card-body">
                        <h5 class="card-title">Late</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-calendar-check"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data.countView.totalLate}}</h6>
                             
                           </div>
                        </div>
                     </div>
                  </div>
               </div>



              
               <!-- <div class="col-12">
                  <div class="card">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Reports <span>/Today</span></h5>
                        <div id="reportsChart"></div> 
                     </div>
                  </div>
               </div> 
               <div class="col-xxl-6 col-md-6">
                  <div class="card recent-sales overflow-auto">
                     
                     <div class="card-body cardBodyFix">
                        <h5 class="card-title">Leave Balance</h5>
                        <!-- <table class="table table-borderless datatable">
                                                      <table class="table table-striped">
                           <thead style="background-color:   #4154f1;">
                              <tr style="color: white;">
                                 
                                 <th scope="col">Leave Type</th>
                                 <th scope="col">Balance</th>
                                 
                              </tr>
                           </thead>
                           <tbody *ngIf="dashboard_data.userLeaveBalance.length==0" class="w-100">
                              <tr>
                                
                                 
                                 <td scope="row" class="checkData bg-color-table check-left"><a>No Data</a></td>
                              </tr>
                            </tbody>
                           <tbody *ngIf="dashboard_data.userLeaveBalance.length > 0">
                              <tr *ngFor="let leaveBal of dashboard_data.userLeaveBalance | paginate: { itemsPerPage: 3, currentPage:  empPage,id: 'first' }">
                                 
                                 <td>{{leaveBal.leaveType}}</td>
                                 <td><a href="#" class="text-primary">{{leaveBal.balance}}</a></td>
                                
                              </tr>
                              <!-- <tr>
                                 
                                 <td>EL</td>
                                 <td><a href="#" class="text-primary">215.00</a></td>
                                
                              </tr>
                              <tr>
                                 
                                 <td>HP</td>
                                 <td><a href="#" class="text-primary">170.00</a></td>
                                 
                              </tr>                               
                           </tbody>
                        </table>
                        <div class=" col-sm-6 col-md-9 col-lg-9 col-xl-9  col-10 col-xxl-9 " *ngIf="dashboard_data.userLeaveBalance.length > 0">
                           <pagination-controls (pageChange)=" empPage = $event" class="tablePagination" id="first"></pagination-controls>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="col-xxl-6 col-md-6">
                  <div class="card recent-sales overflow-auto">
                     
                     <div class="card-body cardBodyFix">
                        <h5 class="card-title">Attendance</h5>
                        <!-- <table class="table table-borderless datatable"> 
                        <table class="table table-striped">
                           <thead style="background-color:   #4154f1;">
                              <tr style="color: white;">
                                 <th scope="col">Date</th>
                                 <th scope="col">In</th>
                                 <th scope="col">Out</th>
                                 
                              </tr>
                           </thead>
                           <tbody *ngIf="dashboard_data.attendanceDetail.length==0" class="w-100">
                              <tr>
                                 <td scope="row" class="checkData bg-color-table check-left"><a>No Data</a></td>
                              </tr>
                            </tbody>
                           <tbody *ngIf="dashboard_data.attendanceDetail.length >0">
                              <tr *ngFor="let attendance of dashboard_data.attendanceDetail | paginate: { itemsPerPage: 5, currentPage:  empPage2 ,id: 'second'}">
                                 <td>{{attendance.punchDate}}</td>
                                 <td>{{attendance.inTime}}</td>
                                 <td><a href="#" class="text-primary">{{attendance.outTime}}</a></td>
                                
                              </tr>
                              
                              
                           </tbody>
                        </table>
                        <div class="col-sm-7  col-md-12 col-lg-12 col-xl-12 col-12 col-xxl-12 " *ngIf="dashboard_data.attendanceDetail.length >0">
                           <pagination-controls class="tablePagination" (pageChange)="empPage2= $event"  id="second"></pagination-controls>
                        </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
         
      </div>
   </section>
 </main> -->
<!--  new Design Impliment -->
 <main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
  
   <section class="section dashboard" *ngIf="user_role=='admin'">
      <div class="row">
         <div class="col-lg-12">
            <div class="row">
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card sales-card">
                     
                     <div class="card-body">
                        <h5 class="card-title">Total Employee</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center "> <i class="  bi bi-people"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data?.countView?.totalEmployee}}</h6>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card revenue-card">
                     
                     <div class="card-body">
                        <h5 class="card-title">Late</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"><i class="fa-solid fa-clock"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data?.countView?.totalLate}}</h6>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xxl-4 col-md-4">
                  <div class="card info-card revenue-card">
                     
                     <div class="card-body">
                        <h5 class="card-title">Leave</h5>
                        <div class="d-flex align-items-center">
                           <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="fas fa-umbrella-beach"></i></div>
                           <div class="ps-3">
                              <h6>{{dashboard_data?.countView?.totalLeave}}</h6>
                              
                           </div>
                        </div>
                     </div>
                  </div>
               </div>


               <section class="section">
                 <div class="row">
                    <div class="col-lg-6">
                       <div class="card" style="height: 370px;">
                          <div class="card-body">
                             <h5 class="card-title pb-0">Attendance percentage</h5>
                             <!-- <canvas id="pieChart"   ></canvas> -->
                             <!-- canvas for chart render -->
                             <canvas id="piechart" style="margin: auto;max-width:300px ;margin: auto;height: 240px !important;"></canvas>
                            
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-6">
                       <div class="card" style="height: 370px;">
                          <div class="card-body">
                             <h5 class="card-title">Attendance percentage</h5>
                             <!-- canvas chart render -->
                              <canvas id="lineChart" style="max-height: 300px;max-width:300px ;margin: auto;height: 240px !important;"></canvas>
                             
                          </div>
                       </div>
                    </div>
                    <div class="col-lg-6" style="display: none;">
                       <div class="card">
                          <div class="card-body">
                             <h5 class="card-title">Bar CHart</h5>
                             <!-- <canvas id="barChart" style="max-height: 400px;"></canvas> -->
                             
                          </div>
                       </div>
                    </div>
                    
                 </div>
              </section>

              
               
               <div class="col-12">
                  <div class="card recent-sales overflow-auto">
                     <div class="filter">
                        <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                           <li class="dropdown-header text-start">
                              <h6>Filter</h6>
                           </li>
                           <li><a class="dropdown-item" href="#">Today</a></li>
                           <li><a class="dropdown-item" href="#">This Month</a></li>
                           <li><a class="dropdown-item" href="#">This Year</a></li>
                        </ul>
                     </div>
                     <div class="card-body">
                        <h5 class="card-title">Recent Attendance <span>| Today</span></h5>
                        <!-- <table class="table table-borderless datatable"> -->
                          <table class="table table-striped">
                             <thead style="background-color:   #4154f1;">
                                <tr style="color: white;">
                                 <th scope="col">#</th>
                                 <th scope="col">Employee</th>
                                 <th scope="col">In-Time</th>
                                 <th scope="col">Out-Time</th>
                                 <th scope="col">Status</th>
                              </tr>
                           </thead>
                           <tbody *ngIf="dashboard_data?.attendanceDetail.length==0" class="w-100">
                             <tr>
                                <td class="bg-color-table"></td>
                                <td class="bg-color-table"></td>
                                <td scope="row" class="checkData bg-color-table"><a>No Data</a></td>
                             </tr>
                           </tbody>
                           <tbody *ngIf="dashboard_data?.attendanceDetail.length > 0">
                             <tr *ngFor="let item of dashboard_data?.attendanceDetail | paginate: { itemsPerPage: 5, currentPage: page }">
                                <th scope="row"><a href="#">{{item.refID}}</a></th>
                                <td>{{item.name}}</td>
                                attendanceDetail
                                <td><a href="#" class="text-primary">{{item.outTime}}</a></td>
                                <td><span class="badge {{item.status}}">{{item.status}}</span></td>
                             </tr>
                              <!-- 
                              <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
                              <!-- <tr *ngFor="let item of attendance_list | paginate: { itemsPerPage: 5, currentPage: page }">
                                <th scope="row"><a href="#">{{item.id}}</a></th>
                                <td>{{item.name}}</td>
                                <td><a href="#" class="text-primary">{{item.intime}}</a></td>
                                <td><a href="#" class="text-primary">{{item.outtime}}</a></td>
                                <td><span class="badge {{item.status_color}}">{{item.status}}</span></td>
                             </tr> -->
                             
                             
                           </tbody>
                        </table>
                        <div class="col-sm-7  col-md-7 col-lg-7 col-xl-7 col-10 col-xxl-6  " *ngIf="dashboard_data?.attendanceDetail.length > 0" >
                          <pagination-controls (pageChange)="page = $event" class="tablePagination"></pagination-controls>
                       </div>
                     </div>
                  </div>
               </div>
               
            </div>
         </div>
         
      </div>
   </section>

   <section class="section dashboard" *ngIf="user_role=='emp'">
     <div class="row">
        <div class="col-lg-12">
           <div class="row">
              <div class="col-xxl-3 col-md-3">
                 <div class="card info-card sales-card">
                   
                    <div class="card-body">
                       <h5 class="card-title">Days Present</h5>
                       <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-person-check-fill"></i></div>
                          <div class="ps-3">
                             <h6>{{dashboard_data?.countView?.totalPresent}}</h6>
                             
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-xxl-3 col-md-3">
                 <div class="card info-card sales-card">
                   
                    <div class="card-body">
                       <h5 class="card-title">Absent</h5>
                       <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-person-dash-fill"></i></div>
                          <div class="ps-3">
                             <h6>{{dashboard_data?.countView?.totalAbsent}}</h6>
                            
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-xxl-3 col-md-3">
                 <div class="card info-card sales-card">
                    
                    <div class="card-body">
                       <h5 class="card-title">Leave</h5>
                       <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="fas fa-umbrella-beach"></i></div>
                          <div class="ps-3">
                             <h6>{{dashboard_data?.countView?.totalLeave}}</h6>
                             
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-xxl-3 col-md-3">
                 <div class="card info-card sales-card">
                    
                    <div class="card-body">
                       <h5 class="card-title">Late</h5>
                       <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i class="bi bi-calendar-check"></i></div>
                          <div class="ps-3">
                             <h6>{{dashboard_data?.countView?.totalLate}}</h6>
                            
                          </div>
                       </div>
                    </div>
                 </div>
              </div>



             
              <!-- <div class="col-12">
                 <div class="card">
                    <div class="filter">
                       <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                       <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                          <li class="dropdown-header text-start">
                             <h6>Filter</h6>
                          </li>
                          <li><a class="dropdown-item" href="#">Today</a></li>
                          <li><a class="dropdown-item" href="#">This Month</a></li>
                          <li><a class="dropdown-item" href="#">This Year</a></li>
                       </ul>
                    </div>
                    <div class="card-body">
                       <h5 class="card-title">Reports <span>/Today</span></h5>
                       <div id="reportsChart"></div> 
                    </div>
                 </div>
              </div> -->
              <div class="col-xxl-6 col-md-6">
                 <div class="card recent-sales overflow-auto">
                    
                    <div class="card-body cardBodyFix">
                       <h5 class="card-title">Leave Balance</h5>
                       <!-- <table class="table table-borderless datatable"> -->
                          <table class="table table-striped">
                          <thead style="background-color:   #4154f1;">
                             <tr style="color: white;">
                                
                                <th scope="col">Leave Type</th>
                                <th scope="col">Balance</th>
                                
                             </tr>
                          </thead>
                          <tbody *ngIf="((dashboard_data?.userLeaveBalance==null))" class="w-100">
                             <tr>
                                <td scope="row" class="checkData bg-color-table check-left"><a>No Data</a></td>
                             </tr>
                           </tbody>
                          <tbody *ngIf="(dashboard_data?.userLeaveBalance!=null)" >
                             <tr *ngFor="let leaveBal of dashboard_data?.userLeaveBalance | paginate: { itemsPerPage: 3, currentPage:  empPage,id: 'first' }">
                                
                                <td>{{leaveBal.leaveType}}</td>
                                <td><a href="#" class="text-primary">{{leaveBal.balance}}</a></td>
                               
                             </tr>
                             <!-- <tr>
                                
                                <td>EL</td>
                                <td><a href="#" class="text-primary">215.00</a></td>
                               
                             </tr>
                             <tr>
                                
                                <td>HP</td>
                                <td><a href="#" class="text-primary">170.00</a></td>
                                
                             </tr> -->
                             
                          </tbody>
                       </table>
                       <div class=" col-sm-6 col-md-9 col-lg-9 col-xl-9  col-10 col-xxl-9 " *ngIf="((dashboard_data?.userLeaveBalance!=null))">
                          <pagination-controls (pageChange)=" empPage = $event" class="tablePagination" id="first"></pagination-controls>
                       </div>
                    </div>
                 </div>
              </div>

              <div class="col-xxl-6 col-md-6">
                 <div class="card recent-sales overflow-auto">
                    
                    <div class="card-body cardBodyFix">
                       <h5 class="card-title">Attendance</h5>
                       <!-- <table class="table table-borderless datatable"> -->
                       <table class="table table-striped">
                          <thead style="background-color:   #4154f1;">
                             <tr style="color: white;">
                                <th scope="col">Date</th>
                                <th scope="col">In</th>
                                <th scope="col">Out</th>
                                
                             </tr>
                          </thead>
                          <tbody *ngIf="(dashboard_data?.attendanceDetail?.length==0)" class="w-100">
                             <tr>
                                <td scope="row" class="checkData bg-color-table check-left"><a>No Data</a></td>
                             </tr>
                           </tbody>
                          <tbody *ngIf="dashboard_data?.attendanceDetail?.length >0">
                             <tr *ngFor="let attendance of dashboard_data?.attendanceDetail | paginate: { itemsPerPage: 5, currentPage:  empPage2 ,id: 'second'}">
                                <td>{{attendance.punchDate}}</td>
                                <td>{{attendance.inTime}}</td>
                                <td><a href="#" class="text-primary">{{attendance.outTime}}</a></td>
                               
                             </tr>
                             
                             
                          </tbody>
                       </table>
                       <div class="col-sm-7  col-md-12 col-lg-12 col-xl-12 col-12 col-xxl-12 " *ngIf="dashboard_data?.attendanceDetail?.length >0">
                          <pagination-controls class="tablePagination" (pageChange)="empPage2= $event"  id="second"></pagination-controls>
                       </div>
                    </div>
                 </div>
              </div>
              
           </div>
        </div>
        
     </div>
  </section>
</main>